body{
    background-color: aquamarine;
}
button{
    background-color: transparent;
    border-color: transparent;
}
button img{
    background: aquamarine;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
table th{
    
    background-color: blueviolet;
    color: white;
}
table td{
    background-color: wheat;
}
#reset{
    height: 50px;
    width: 50px;
}
#button-container,h1,table{
    display: flex;
    justify-content: center;
}

#game-summary-container{
    display: flex;
    justify-content: center;
   
}
